<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
{% include "components/_assets.html.j2" %}
</head>
<body>
  <main>
{{ c.metadata_header("component showcase", component_name) }}
{% for case in cases %}
{% if not loop.first %}
    <hr>
{% endif %}
    <section>
      <h3>{{ case.label }}</h3>
      {{ case.body }}
    </section>
{% endfor %}
  </main>
</body>
</html>
